.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.header h2 {
    text-align: center;
}

.header {
    margin: auto;
    margin-top: 110px;
    margin-bottom: 40px;
    background-color: #ADD8E6;
    width: 35%;
    padding: 7px;
    border-radius: 7px;
    color:black;
}

form {
    width: 35%;
    /* margin:auto; */
    /* margin-top: 100px; */
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 4px;
}

input {
    /* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap'); */
    font-family: "Quicksand";
    font-size: medium;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 7px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

label {
    font-size: medium;
    margin-bottom: 15px;
}

.field {
    margin-top: 9px;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

.btns {
    text-align: center;
    display: flex;
}

#save,
#clear {
    padding: 10px;
    background-color: #6610f2;
    cursor: pointer;
    font-size: medium;
    margin-bottom: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    /* min-width:30%; */
    width: 50%;
}

#clear {
    background-color: darkred;
    margin-left: 20px;
}

.warning {
    color: red;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-info {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
}

.singlecard {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    justify-content: space-between;
}