<header>
    
</header>

<div class="hero">
    <div class="title-container">
        <img src="https://png.pngtree.com/template/20190308/ourmid/pngtree-life-insurance-logo-image_62955.jpg" height="130" width="150">
        <h1>InsuredFuture Insurance</h1>
    </div>
    <div class="container">
        <h2>Your Future, <br>Insured with Us</h2>
        <p>Providing comprehensive insurance solutions for a secure future.</p>
    </div>
</div>
<div class="features">
    <div class="container">
        <h2>Our Insurance Plans</h2>
        <div class="feature-item">
            <span class="feature-icon">⚖️</span>
            <h3>Life Insurance</h3>
            <p>Protect your loved ones with our flexible life insurance policies.</p>
        </div>
        <div class="feature-item">
            <span class="feature-icon">🏠</span>
            <h3>Home Insurance</h3>
            <p>Safeguard your home and belongings against unforeseen events.</p>
        </div>
        <div class="feature-item">
            <span class="feature-icon">🚗</span>
            <h3>Auto Insurance</h3>
            <p>Stay covered on the road with our reliable auto insurance options.</p>
        </div>
        <div class="feature-item">
            <span class="feature-icon">💼</span>
            <h3>Business Insurance</h3>
            <p>Protect your business assets and mitigate risks with our tailored business insurance solutions.</p>
        </div>
    </div>
</div>
